* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    background-color: rgb(52, 57, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
    /* border: 3px solid red; */
}

/* .header-link1{
    margin-left: auto;
    margin-right: 20px;
} */

.header-links {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.hero-container {
    background-color: rgb(52, 57, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    height: 550px;
    /* align-items: center; */
    /* border: 3px solid red; */
}

.hero-content {
    margin: 50px;
}

.hero-text-heading {
    font-size: 50px;
    align-self: flex-end;
    color: white;

}

.hero-text-subtext {
    color: white;
    opacity: 80%;
    font-weight: 400;
}

.hero-image {
    margin: 50px;
}

.signup-button1 {
    color: white;
    font-size: 17px;
    background-color: rgb(54, 165, 221);
    padding: 5px 25px 5px 25px;
    margin-top: 8px;
    border-radius: 7px;
}

.info-header {
    text-align: center;
    padding: 30px;
    font-weight: 700;
    font-size: 40px;
    margin-top: 10px;

}

.info-container {
    display: flex;
    justify-content: center;
}

.info-container {
    display: flex;
    justify-content: center;
}

.info-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 80px;
    width: 205px;
    text-align: center;
}

.info-img1 {
    border: 3px solid rgb(54, 165, 221);
    border-radius: 15px;
    height: 150px;
    width: 150px;
    justify-content: center;
}

.info-img2 {
    border: 3px solid rgb(54, 165, 221);
    border-radius: 15px;
    height: 150px;
    width: 150px;
    justify-content: center;
}

.info-img3 {
    border: 3px solid rgb(54, 165, 221);
    border-radius: 15px;
    height: 150px;
    width: 150px;
    justify-content: center;
}

.info-img4 {
    border: 3px solid rgb(54, 165, 221);
    border-radius: 15px;
    height: 150px;
    width: 150px;
    justify-content: center;
}

.quote-container {
    background-color: rgb(215, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote {
    margin: auto 30% auto 30%;
    font-size: 30px;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.quote-author {
    font-size: 25px;
    align-self: flex-end;
    margin-top: 10px;
    font-weight: bold;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.signup-box {
    display: flex;
    width: 60%;
    margin-top: 85px;
    margin-bottom: 85px;
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: rgb(54, 165, 221);
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}

.signup-maintext {
    font-size: 30px;
    font-weight: 700;
    align-self: flex-end;
    color: white;

}

.signup-subtext {
    color: white;
    opacity: 80%;
    font-weight: 400;
}

.signup-button2 {
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(54, 165, 221);
    color: white;
    font-weight: 600;
    padding: 5px 25px;
}

.footer-container {
    background-color: rgb(52, 57, 74);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 25px;
}